.hero-404 {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    height: calc(100vh - 105px);
    width: 100vw;

    h1 {
        @include font-128;
        margin-bottom: 30px;
    }

    .content {
        max-width: 60%;
        text-align: center;

        p {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            color: var(--dark-color) !important;
            @include regular;color:var(--dark-color);
            margin-bottom: 30px;
            font-weight: 500;
        }

        a {
            @include button-arrow(#163BA4, var(--white-color), var(--main-blue));
        }

    }

    &__container {
        align-items: center;
        justify-content: center;

    }
}