.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    color: var(--white-color);
    background: var(--footer-bg);

    h3 {
        font-weight: 500;
        margin-bottom: 20px;
    }

    .contact {
        &__phone {
            align-items: center;
            margin-bottom: 16px;
            gap: 10px;

            .text {
                font-family: var(--title-font);
                color: var(--white-color);
                font-size: 18px;
                line-height: 110%;
            }
        }

        &__email {
            align-items: center;
            margin-bottom: 16px;
            gap: 10px;
            margin-top: 25px;

            .text {
                font-family: var(--title-font);
                color: var(--white-color);
                font-size: 18px;
                line-height: 110%;
            }
        }
    }

    .contact-2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__wrapp {
        justify-content: space-between;
    }

    .nav-footer {
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        a {
            @include regular;color:var(--white-color);
        }
    }

    &__copyright {
        padding-top: 25px;
        text-align: center;

        p {
            font-size: 14px;
        }
    }
}

@include mq(tablet-wide, max) {
    .footer {
        &__wrapp {
            flex-wrap: wrap;
            // flex-direction: column;
            gap: 30px;
        }

        .contact,
        .nav-footer,
        .contact-2 {
            width: 45%;
        }
    }
}

@include mq(tablet, max) {
    .footer { 
        &__wrapp {
            flex-wrap: wrap;
            flex-direction: column;
            gap: 30px;
        }

        .contact,
        .nav-footer,
        .contact-2 {
            width: 100%;
        }
    }
}