.popular-chanel {
    padding: 80px 0;

    h2 {
        color: var(--dark-color);
        margin-bottom: 30px;
    }

    .swiper.swiper-popular-chanel {
        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
        .swiper-slide {
            display: flex;
            justify-content: center;
        }
    }
}

@include mq(tablet-wide, max) {
    .popular-chanel {
        .swiper.swiper-popular-chanel {
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
}