extends layout/app

block page 
    include chunk/header

    main.main
        section.section-all-chanel
            .container 
                h2 Список всех телеканалов
                h3 Соцпакет
                ul.grid-4.section-all-chanel__grid
                    li 
                        .img
                            img(src="./img/ont-logo.svg" alt="")
                        .box 
                            p ОНТ
                            p Общенациональный белорусский телеканал, вещает актуальные новости, лучшие мировые телевизионные проекты, фильмы и сериалы, программы максимально интересные и важные для белорусского зрителя.
                    li 
                        .img
                            img(src="./img/ont-logo.svg" alt="")
                        .box 
                            p ОНТ
                            p Общенациональный белорусский телеканал, вещает актуальные новости, лучшие мировые телевизионные проекты, фильмы и сериалы, программы максимально интересные и важные для белорусского зрителя.
                    li 
                        .img
                            img(src="./img/ont-logo.svg" alt="")
                        .box 
                            p ОНТ
                            p Общенациональный белорусский телеканал, вещает актуальные новости, лучшие мировые телевизионные проекты, фильмы и сериалы, программы максимально интересные и важные для белорусского зрителя.
                    li 
                        .img
                            img(src="./img/ont-logo.svg" alt="")
                        .box 
                            p ОНТ
                            p Общенациональный белорусский телеканал, вещает актуальные новости, лучшие мировые телевизионные проекты, фильмы и сериалы, программы максимально интересные и важные для белорусского зрителя.
                h3 Соцпакет
                ul.grid-4.section-all-chanel__grid
                    li 
                        .img
                            img(src="./img/ont-logo.svg" alt="")
                        .box 
                            p ОНТ
                            p Общенациональный белорусский телеканал, вещает актуальные новости, лучшие мировые телевизионные проекты, фильмы и сериалы, программы максимально интересные и важные для белорусского зрителя.
                    li 
                        .img
                            img(src="./img/ont-logo.svg" alt="")
                        .box 
                            p ОНТ
                            p Общенациональный белорусский телеканал, вещает актуальные новости, лучшие мировые телевизионные проекты, фильмы и сериалы, программы максимально интересные и важные для белорусского зрителя.
                    li 
                        .img
                            img(src="./img/ont-logo.svg" alt="")
                        .box 
                            p ОНТ
                            p Общенациональный белорусский телеканал, вещает актуальные новости, лучшие мировые телевизионные проекты, фильмы и сериалы, программы максимально интересные и важные для белорусского зрителя.
                    li 
                        .img
                            img(src="./img/ont-logo.svg" alt="")
                        .box 
                            p ОНТ
                            p Общенациональный белорусский телеканал, вещает актуальные новости, лучшие мировые телевизионные проекты, фильмы и сериалы, программы максимально интересные и важные для белорусского зрителя.
    include chunk/footer