extends layout/app

block page 
    include chunk/header

    main.main
        section.hero.hero-page(style='background-image: url("./img/air-conditioner-bg.jpg");')
            .container
                .content 
                    h1 Кондиционеры
                    p ООО "Гродненские информационные сети" предлагает Вам — как физическим, так и юридическим лицам — высокоскоростной доступ в глобальную компьютерную сеть Интернет.
                    a(href="./contact.html").hover-link-white Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")                    
        section.service-content.p-80 
            .container
                .service-content__wrapp.flex
                    .service-content__name 
                        h2.title-line О услуге
                    .service-content__content.inner-content 
                        p Наши специалисты ежегодно повышают квалификацию и имеют многолетний практический опыт. Это позволяет нам находить индивидуальный подход к каждому объекту и выполнять электромонтажные работы в Гродно и Гродненской области качественно в строго установленные сроки.
                        h4 Виды работ:
                        ul 
                            li проложат силовые, телефонные, телевизионные кабели и провода, а также локальных сетей;
                            li соберут электрический щит любой сложности;
        section.service-content-img
            .container
                .service-content-img__wrapp.flex
                    .service-content-img__img
                        img(src="./img/air-img.png" alt="")
                    .service-content-img__content
                        h3 Приемущества солнечных батарей:
                        ul 
                            li Не требует топлива. Использование энергии солнца требует затрат практически только на установку. В дальнейшем потребитель получает уже бесплатную энергию.
                            li Работает постоянно. Солнечная система регулируется автоматически. Ее не нужно постоянно включать и выключать как дизель. 
        section.p-80.section-stages 
            .container
                h2 Этапы работы
                .section-stages__grid
                    .section-stages__box.section-stages__box--number
                        span.number 1
                        .content
                            h3 Оставить заявку
                            p По номеру телефона 
                    .section-stages__box.section-stages__box--arrow 
                        svg(width="85" height="30" viewBox="0 0 85 30" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M83.4267 16.4142C84.2077 15.6332 84.2077 14.3668 83.4267 13.5858L70.6988 0.857864C69.9177 0.0768158 68.6514 0.0768158 67.8703 0.857864C67.0893 1.63891 67.0893 2.90524 67.8703 3.68629L79.1841 15L67.8703 26.3137C67.0893 27.0948 67.0893 28.3611 67.8703 29.1421C68.6514 29.9232 69.9177 29.9232 70.6988 29.1421L83.4267 16.4142ZM0.987793 17H82.0125V13H0.987793V17Z" fill="#163BA4")
                    .section-stages__box.section-stages__box--number
                        span.number 2
                        .content
                            h3 Расчет стоимости
                            p По номеру телефона 
                    .section-stages__box.section-stages__box--arrow  
                        svg(width="85" height="30" viewBox="0 0 85 30" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M83.4267 16.4142C84.2077 15.6332 84.2077 14.3668 83.4267 13.5858L70.6988 0.857864C69.9177 0.0768158 68.6514 0.0768158 67.8703 0.857864C67.0893 1.63891 67.0893 2.90524 67.8703 3.68629L79.1841 15L67.8703 26.3137C67.0893 27.0948 67.0893 28.3611 67.8703 29.1421C68.6514 29.9232 69.9177 29.9232 70.6988 29.1421L83.4267 16.4142ZM0.987793 17H82.0125V13H0.987793V17Z" fill="#163BA4")
                    .section-stages__box.section-stages__box--number
                        span.number 3
                        .content
                            h3 Заключение договора
                            p По номеру телефона 
                    .section-stages__box.section-stages__box--arrow  
                        svg(width="85" height="30" viewBox="0 0 85 30" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M83.4267 16.4142C84.2077 15.6332 84.2077 14.3668 83.4267 13.5858L70.6988 0.857864C69.9177 0.0768158 68.6514 0.0768158 67.8703 0.857864C67.0893 1.63891 67.0893 2.90524 67.8703 3.68629L79.1841 15L67.8703 26.3137C67.0893 27.0948 67.0893 28.3611 67.8703 29.1421C68.6514 29.9232 69.9177 29.9232 70.6988 29.1421L83.4267 16.4142ZM0.987793 17H82.0125V13H0.987793V17Z" fill="#163BA4")
                    .section-stages__box.section-stages__box--number 
                        span.number 4
                        .content
                            h3 Реализация проекта
                            p По номеру телефона 
        section.service-contact(style='background-image: url("./img/seti-bg.jpg");')
            .container.service-contact__container
                .service-contact__box 
                    p Выполним акт обследования на подключение средств системы видеонаблюдения согласно полученных технических условий. При разработке учитываем бюджет заказчика и подбираем оптимальное по стоимости оборудование.
                    br
                    p Мы ставим себе цель найти наиболее оптимальное решение задачи клиента!
                    a(href="./contact.html").hover-link-white Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
    include chunk/footer