extends layout/app

block page 
    include chunk/header

    main.main
        section.hero.hero-page(style='background-image: url("./img/bg-contact.png");')
            .container
                .content 
                    h1 Контакты
                    p ООО "Гродненские информационные сети" предлагает Вам — как физическим, так и юридическим лицам — высокоскоростной доступ в глобальную компьютерную сеть Интернет.
        section.section-contact
            .container 
                .box-shadow
                    .flex.section-contact__wrapp
                        ul 
                            li.flex
                                .icon 
                                    svg(width="30" height="36" viewBox="0 0 30 36" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M14.9995 0.500122C23.2838 0.500122 29.9995 7.21585 29.9995 15.5001C29.9995 22.6682 25.1621 29.2646 15.6706 35.3047C15.2611 35.5653 14.7379 35.5653 14.3284 35.3047C4.83689 29.2646 -0.000488281 22.6682 -0.000488281 15.5001C-0.000488281 7.21585 6.71524 0.500122 14.9995 0.500122ZM14.9995 10.5001C12.2381 10.5001 9.99951 12.7387 9.99951 15.5001C9.99951 18.2615 12.2381 20.5001 14.9995 20.5001C17.7609 20.5001 19.9995 18.2615 19.9995 15.5001C19.9995 12.7387 17.7609 10.5001 14.9995 10.5001Z" fill="#163BA4")
                                .text 
                                    h3 Адрес
                                    p Гродно, просп. Янки Купалы, 78Аофис 11, этаж 2
                            li.flex
                                .icon 
                                    svg(width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M16.0003 0.833435C24.7448 0.833435 31.8337 7.92226 31.8337 16.6668C31.8337 25.4113 24.7448 32.5001 16.0003 32.5001C7.25582 32.5001 0.166992 25.4113 0.166992 16.6668C0.166992 7.92226 7.25582 0.833435 16.0003 0.833435ZM14.9587 6.66677C14.3834 6.66677 13.917 7.13314 13.917 7.70844V17.7084C13.917 18.2837 14.3834 18.7501 14.9587 18.7501H21.6253C22.2006 18.7501 22.667 18.2837 22.667 17.7084C22.667 17.1331 22.2006 16.6668 21.6253 16.6668H16.0003V7.70844C16.0003 7.13314 15.534 6.66677 14.9587 6.66677Z" fill="#163BA4")
                                .text 
                                    h3 Режим работы
                                    p Понедельник – пятница: 9:00 – 21.00
                            li.flex
                                .icon 
                                    svg(width="30" height="30" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M11.8562 13.6665L15.0988 11.2768C16.9152 9.93817 17.5383 7.84761 16.6736 5.99313L15.288 3.02155C14.2145 0.719389 11.0972 -0.514567 8.17117 0.20442C2.98336 1.47916 -1.00375 5.35238 0.223745 9.95377C1.03099 12.9798 2.57433 16.778 5.5017 20.8212C8.43406 24.8712 11.7829 27.8654 14.6536 29.9652C18.9897 33.1368 25.1871 32.3437 29.1743 29.3569C31.3924 27.6953 31.619 24.934 29.6915 23.0529L27.1506 20.573C25.584 19.0441 23.0191 18.4324 20.668 19.0269L16.4709 20.0883C16.3095 19.955 16.1225 19.7956 15.9185 19.6129C15.2289 18.9951 14.3663 18.1294 13.6409 17.1198C12.9154 16.1102 12.4135 15.0772 12.0924 14.2885C11.9975 14.0552 11.9192 13.8454 11.8562 13.6665Z" fill="#163BA4")
                                .text 
                                    h3 Телефоны
                                    a(href="#")  +375 152 33-33-20
                                    a(href="#")  +375 152 33-33-20
                                    p звонки с 9:00 до 21:00
                            li.flex
                                .icon 
                                    svg(width="30" height="30" viewBox="0 0 28 34" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M20.6323 3.57464C20.384 1.74427 18.815 0.333496 16.9165 0.333496H11.0832C9.18469 0.333496 7.61572 1.74427 7.3674 3.57464L7.34317 3.80016L7.35616 3.6659L4.4165 3.66683C2.34544 3.66683 0.666504 5.34576 0.666504 7.41683V29.9168C0.666504 31.9879 2.34544 33.6668 4.4165 33.6668H23.5832C25.6542 33.6668 27.3332 31.9879 27.3332 29.9168V7.41683C27.3332 5.34576 25.6542 3.66683 23.5832 3.66683L20.6435 3.6659L20.6548 3.80016L20.6323 3.57464ZM11.0832 2.8335H16.9165C17.6069 2.8335 18.1665 3.39314 18.1665 4.0835C18.1665 4.77385 17.6069 5.3335 16.9165 5.3335H11.0832C10.3928 5.3335 9.83317 4.77385 9.83317 4.0835C9.83317 3.39314 10.3928 2.8335 11.0832 2.8335ZM7.33317 12.0002H20.6665C21.3569 12.0002 21.9165 12.5598 21.9165 13.2502C21.9165 13.9405 21.3569 14.5002 20.6665 14.5002H7.33317C6.64281 14.5002 6.08317 13.9405 6.08317 13.2502C6.08317 12.5598 6.64281 12.0002 7.33317 12.0002ZM12.7498 19.9168C12.7498 19.2265 13.3095 18.6668 13.9998 18.6668H20.6665C21.3569 18.6668 21.9165 19.2265 21.9165 19.9168C21.9165 20.6072 21.3569 21.1668 20.6665 21.1668H13.9998C13.3095 21.1668 12.7498 20.6072 12.7498 19.9168ZM10.6665 25.3335H20.6665C21.3569 25.3335 21.9165 25.8931 21.9165 26.5835C21.9165 27.2739 21.3569 27.8335 20.6665 27.8335H10.6665C9.97615 27.8335 9.4165 27.2739 9.4165 26.5835C9.4165 25.8931 9.97615 25.3335 10.6665 25.3335Z" fill="#163BA4")
                                .text 
                                    h3 Реквизиты
                                    p УНП 500010152, ОКПО 00453500,IBAN BY47BAPB30122902300140000000 в ОАО «Белагропромбанк» БИК BAPBBY2X адрес банка г.Минск, пр-т Жукова, 3
                        .form 
                            h3 Контактная форма 
                            form
                                .form__box 
                                    input(type="text" placeholder="Введите ваше ФИО")
                                .form__box 
                                    input(type="text" placeholder="Тема письма")
                                .form__box.flex
                                    input(type="text" placeholder="Улица, дом")
                                    input(type="text" placeholder="Квартира")
                                .form__box 
                                    input(type="text" placeholder="Введите Email")
                                .form__box 
                                    textarea(name="" cols="30" rows="5" placeholder="Комментарий")
                                button(type="submit").form__btn Отправить
        section.support
            .container 
                .box-shadow
                    h3 Техническая поддержка
                    ul 
                        li 
                            p.title По вопросам доступа в Интернет
                            p +375-29-1909360 в выходные и праздничные дни с 9:00 до 18:00
                        li 
                            p.title По вопросам Кабельного ТВ
                            p +375-29-1909360 в выходные и праздничные дни с 9:00 до 18:00
        section.payment
            .container 
                .box-shadow
                    h3.payment__title Способы оплаты
                    .accordion-wrapp
                        .accordion
                            .accordion__title 
                                h3 Оплата 1
                            .accordion__body 
                                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum fuga aliquam pariatur temporibus illum aliquid saepe sunt a sapiente quibusdam libero delectus facere tempore cupiditate reiciendis atque mollitia, sequi id!
                        .accordion
                            .accordion__title 
                                h3 Оплата 2
                            .accordion__body 
                                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum fuga aliquam pariatur temporibus illum aliquid saepe sunt a sapiente quibusdam libero delectus facere tempore cupiditate reiciendis atque mollitia, sequi id!
                        .accordion
                            .accordion__title 
                                h3 Оплата 3
                            .accordion__body 
                                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum fuga aliquam pariatur temporibus illum aliquid saepe sunt a sapiente quibusdam libero delectus facere tempore cupiditate reiciendis atque mollitia, sequi id!
        section.map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2364.428291834287!2d23.847231315328756!3d53.657165459085824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dfd7b1700acd7b%3A0x4f0263081a20a04c!2z0L_RgNC-0YHQvy4g0K_QvdC60Lgg0JrRg9C_0LDQu9GLIDc4LCDQk9GA0L7QtNC90L4!5e0!3m2!1sru!2sby!4v1679572611587!5m2!1sru!2sby" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
        include chunk/news
    include chunk/footer