extends layout/app

block page 
    include chunk/header

    main.main
        section.hero.hero-page(style='background-image: url("./img/electrical-main-bg.png");')
            .container
                .content 
                    h1 
                        | Электромонтажные работы 
                        br
                        | и проектирование
                    p ООО «Гродненские информационные сети» предлагает качественные и профессиональные электромонтажные работы квартир, коттеджей, кафе, ресторанов, офисов и т.д.
                    a(href="./contact.html") Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")                    
        section.section-plus
            .container.section-plus__container 
                .grid-4.section-plus__grid
                    .flex.section-plus__box
                        img(src="./img/design-icon.svg" alt="")
                        p Любые виды проектирование
                    .flex.section-plus__box
                        img(src="./img/tools-icon.svg" alt="")
                        p Монтаж любой сложности
                    .flex.section-plus__box
                        img(src="./img/saving-icon.svg" alt="")
                        p Индвидуальный подход
                    .flex.section-plus__box
                        img(src="./img/safty-data-icon.svg" alt="")
                        p Гарантия и сертификация
        section.service-content.p-80 
            .container
                .service-content__wrapp.flex
                    .service-content__name 
                        h2.title-line Электромонтаж
                    .service-content__content.inner-content 
                        p Наши специалисты ежегодно повышают квалификацию и имеют многолетний практический опыт. Это позволяет нам находить индивидуальный подход к каждому объекту и выполнять электромонтажные работы в Гродно и Гродненской области качественно в строго установленные сроки. Наши электромонтажники выполнят следующие работы:
                        ul 
                            li проложат силовые, телефонные, телевизионные кабели и провода, а также локальных сетей;
                            li соберут электрический щит любой сложности;
                            li осуществят электромонтаж осветительных приборов, розеток, выключателей на объекте, наружного освещения;
                            li установят электросчетчик;
                            li заменят электропроводку;
                            li выполнят перенос электрической цепи;
                            li выполнят монтаж этажного щита, распределительных устройств, коммутационной аппаратуры;
                            li осуществят монтаж установок и оборудования электротехнического назначения, систем сигнализации и автоматики;
                            li подключат осветительные приборы;
                            li устранят неисправности, возникшие в электрической сети;
                            li выполнят необходимый фронт строительных работ с использованием необходимых материалов, инструмента и приспособлений.
        section.service-content
            .container
                .service-content__wrapp.flex
                    .service-content__name 
                        h2.title-line Проектирование
                    .service-content__content.inner-content 
                        p Наша компания предлагает  проектирование «под ключ» объектов промышленного и жилищно-гражданского строительства. Компания разрабатывает индивидуальные проекты, а также адаптирует реализованные собственные проекты под технические условия заказчика с существенным сокращением сроков проектирования. 
        section.services-box.p-80
            .container 
                h2 Виды проектирования
                .services-box__wrapp.flex   
                    .service-box
                        img(src="./img/extinguisher-img.jpg" alt="")
                        .service-box__content 
                            h3 Проектирование пожарной системы
                            p г. Гродно, ул. Вишневецкая, 1 (здание станции технического обслуживания «Автоцентр «Флагман»).
                    .service-box
                        img(src="./img/camera-img.jpg" alt="")
                        .service-box__content 
                            h3 Проектирование охранной системы
                            p г. Гродно, ул. Вишневецкая, 1 (здание станции технического обслуживания «Автоцентр «Флагман»).
                    .service-box
                        img(src="./img/provoda-img.jpg" alt="")
                        .service-box__content 
                            h3 Проектирование электроснабжения 
                            p г. Гродно, ул. Вишневецкая, 1 (здание станции технического обслуживания «Автоцентр «Флагман»).
        section.service-contact(style='background-image: url("./img/seti-bg.jpg");')
            .container.service-contact__container
                .service-contact__box 
                    p Выполним акт обследования на подключение средств системы видеонаблюдения согласно полученных технических условий. При разработке учитываем бюджет заказчика и подбираем оптимальное по стоимости оборудование.
                    br
                    p Мы ставим себе цель найти наиболее оптимальное решение задачи клиента!
                    a(href="./contact.html") Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")       
    include chunk/footer