extends layout/app

block page 
    include chunk/header

    main.main
        section.hero.hero-page(style='background-image: url("./img/solar-panel-bg.png");')
            .container
                .content 
                    h1 Электромонатжные работы и проектирование
                    p ООО «ГРОДНЕНСКИЕ ИНФОРМАЦИОННЫЕ СЕТИ» занимается установкой и обслуживанием систем экологически чистой энергии для автономного или комбинированного снабжения электричеством и теплом различных объектов.
                    a(href="./contact.html") Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")                    
        section.section-plus
            .container.section-plus__container 
                .grid-4.section-plus__grid
                    .flex.section-plus__box
                        img(src="./img/plant-icon.svg" alt="")
                        p Экологические технологии
                    .flex.section-plus__box
                        img(src="./img/saving-icon.svg" alt="")
                        p Сокращение расходов
                    .flex.section-plus__box
                        img(src="./img/cloud-computer-icon.svg" alt="")
                        p Продажа электроенергии 
                    .flex.section-plus__box
                        img(src="./img/safty-data-icon.svg" alt="")
                        p Гарантия и сертификация 
        section.service-content.p-80 
            .container
                .service-content__wrapp.flex
                    .service-content__name 
                        h2.title-line О услуге
                    .service-content__content.inner-content 
                        p В вопросе устанавливать или не устанавливать солнечную систему решающими являются несколько факторов. Есть группы потребителей, для которых установка солнечных батарей для получения электричества оказывается особенно выгодной: - Объекты не подключенные к общей электросети и где подключение является дорогим из-за удаленности объекта или недостатка мощности ближайших сетей. 
                        br
                        p В этом случае установка автономной системы на солнечных батареях является выгодной просто в силу того, что капитальные затраты на установку будут равны или ниже стоимости подключения к общей сети - Объекты подключенные к существующим электросетям, но оплачивающие электроэнергию по высоким тарифам. Это могут быть объекты юридических лиц или физические лица с договорами частной поставки электроэнергии для коттеджных поселков или удаленных объектов.
        section.service-content-img
            .container
                .service-content-img__wrapp.flex
                    .service-content-img__img
                        img(src="./img/solar-panel.jpg" alt="" height="450")
                    .service-content-img__content
                        h3 Приемущества солнечных батарей:
                        ul 
                            li Не требует топлива. Использование энергии солнца требует затрат практически только на установку. В дальнейшем потребитель получает уже бесплатную энергию. Никаких специальных профилактических работ для солнечных панелей не требуется.
                            li Работает постоянно. Солнечная система регулируется автоматически. Ее не нужно постоянно включать и выключать как дизель. 
                            li Бесшумность. Поскольку электричество производится путем прямого преобразования энергии света, то нет абсолютно никаких шумов. Если дизель своим гулом может мешать вам и вашим соседям, то с солнечной системой таких проблем нет.
                            li Длительный срок безаварийной службы. Качественные солнечные панели рассчитаны на работу в течение не менее 25 лет. За это время происходит постепенное небольшое снижение мощности. Следующие 20 лет система будет вырабатывать примерно 80% энергии от изначальной мощности.
                            li Надежность. Солнечная система гарантированно вырабатывает электроэнергию каждый день от восхода до заката. Производительность снижается в пасмурную погоду, но все же солнечные панели дают электроэнергию и в этом случае.
                            li Общедоступность. Солнечный свет есть практически везде и это в некоторых случаях критическое преимущество солнечных панелей перед ветряными и дизельными системами. Особенности рельефа, застройки, метеорологических особенностей, размера участка, могут не позволить разместить ветряк, а вот для солнечных систем ограничений гораздо меньше.
                            li Возможность произвольного изменения мощности системы. У жидкотопливных и ветряных систем мощность фиксированная. А вот у солнечных систем это величина произвольная.
        section.service-contact(style='background-image: url("./img/seti-bg.jpg");')
            .container.service-contact__container
                .service-contact__box 
                    p Выполним акт обследования на подключение средств системы видеонаблюдения согласно полученных технических условий. При разработке учитываем бюджет заказчика и подбираем оптимальное по стоимости оборудование.
                    br
                    p Мы ставим себе цель найти наиболее оптимальное решение задачи клиента!
                    a(href="./contact.html") Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")       
    include chunk/footer