extends layout/app

block page 
    include chunk/header

    main.main
        section.hero.hero-page(style='background-image: url("./img/electrical-b.jpg");')
            .container
                .content 
                    h1 Альтернативная энергетика
                    p ООО "Гродненские информационные сети" предлагает Вам — как физическим, так и юридическим лицам — высокоскоростной доступ в глобальную компьютерную сеть Интернет.
                    a(href="./contact.html") Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")                    
        section.section-plus
            .container.section-plus__container 
                .grid-4.section-plus__grid
                    .flex.section-plus__box
                        img(src="./img/app-icon.svg" alt="")
                        p Удаленный доступ к данным через приложение
                    .flex.section-plus__box
                        img(src="./img/save-data-icon.svg" alt="")
                        p Безопастное хранение данных и доступ к архиву 20 дней
                    .flex.section-plus__box
                        img(src="./img/cloud-computer-icon.svg" alt="")
                        p На собственном облаке хранения 
                    .flex.section-plus__box
                        img(src="./img/safty-data-icon.svg" alt="")
                        p Безопастность вашего дома!
        section.service-content.p-80 
            .container
                .service-content__wrapp.flex
                    .service-content__name 
                        h2.title-line Электромонатаж
                    .service-content__content.inner-content 
                        p Наши специалисты ежегодно повышают квалификацию и имеют многолетний практический опыт. Это позволяет нам находить индивидуальный подход к каждому объекту и выполнять электромонтажные работы в Гродно и Гродненской области качественно в строго установленные сроки.
                        h4 Виды работ:
                    F    ul 
                        li проложат силовые, телефонные, телевизионные кабели и провода, а также локальных сетей;
                        li соберут электрический щит любой сложности;
        section.service-content-img
            .container
                .service-content-img__wrapp.flex
                    .service-content-img__img
                        img(src="./img/solar-panel.jpg" alt="")
                    .service-content-img__content
                        h3 Приемущества солнечных батарей:
                        ul 
                            li Не требует топлива. Использование энергии солнца требует затрат практически только на установку. В дальнейшем потребитель получает уже бесплатную энергию.
                            li Работает постоянно. Солнечная система регулируется автоматически. Ее не нужно постоянно включать и выключать как дизель. 
        section.service-contact
            .container.service-contact__container
                .service-contact__box 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit saepe provident, voluptate sequi cupiditate recusandae! Provident culpa doloremque praesentium inventore deserunt aperiam! Molestiae amet dignissimos qui, cumque laudantium esse vel.
                    a(href="") Связаться 
    include chunk/footer