extends layout/app

block page 
    include chunk/header

    main.main
        section.hero
            .swiper.swiper-main 
                .swiper-wrapper.swiper-main__wrapp
                    .swiper-slide.swiper-main__slide.flex
                        div(class='swiper-main__bg' style='background-image: url("./img/bg-grodno.jpg");')
                        .container
                            .swiper-main__content 
                                h1 Оператор ТВ и интернета в твоем городе
                                p ООО "Гродненские информационные сети" предлагает Вам — как физическим, так и юридическим лицам — высокоскоростной доступ в глобальную компьютерную сеть Интернет.
                                a(href="./about.html").hover-link-white Подробнее 
                                    span.icon.flex  
                                        svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                            path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")                    
                    .swiper-slide.swiper-main__slide.flex
                        div(class='swiper-main__bg' style='background-image: url("./img/internet.png");')
                        .container
                            .swiper-main__content    
                                h1 Оператор ТВ и интернета в твоем городе
                                p ООО "Гродненские информационные сети" предлагает Вам — как физическим, так и юридическим лицам — высокоскоростной доступ в глобальную компьютерную сеть Интернет.
                                a(href="").hover-link-white Подробнее 
                                    span.icon.flex  
                                        svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                            path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")            
                    .swiper-slide.swiper-main__slide.flex
                        div(class='swiper-main__bg' style='background-image: url("./img/bg-main-pack.png");')
                        .container
                            .swiper-main__content    
                                h1 Оператор ТВ и интернета в твоем городе
                                p ООО "Гродненские информационные сети" предлагает Вам — как физическим, так и юридическим лицам — высокоскоростной доступ в глобальную компьютерную сеть Интернет.
                                a(href="").hover-link-white Подробнее 
                                    span.icon.flex  
                                        svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                            path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")                
                .swiper-main__info
                    .container.flex
                        .swiper-main__pagination
                        .swiper-main__arrow.flex
                            .swiper-main__prev
                                svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    circle(cx="20" cy="20" r="19.5" transform="rotate(-180 20 20)" stroke="white")
                                    path(d="M21.7803 25.0303C21.5141 25.2966 21.0974 25.3208 20.8038 25.1029L20.7197 25.0303L16.2197 20.5303C15.9534 20.2641 15.9292 19.8474 16.1471 19.5538L16.2197 19.4697L20.7197 14.9697C21.0126 14.6768 21.4874 14.6768 21.7803 14.9697C22.0466 15.2359 22.0708 15.6526 21.8529 15.9462L21.7803 16.0303L17.8107 20L21.7803 23.9697C22.0732 24.2626 22.0732 24.7374 21.7803 25.0303Z" fill="white")
                            .swiper-main__next
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="20" cy="20" r="19.5" stroke="white"/>
                                    <path d="M18.2197 14.9697C18.4859 14.7034 18.9026 14.6792 19.1962 14.8971L19.2803 14.9697L23.7803 19.4697C24.0466 19.7359 24.0708 20.1526 23.8529 20.4462L23.7803 20.5303L19.2803 25.0303C18.9874 25.3232 18.5126 25.3232 18.2197 25.0303C17.9534 24.7641 17.9292 24.3474 18.1471 24.0538L18.2197 23.9697L22.1893 20L18.2197 16.0303C17.9268 15.7374 17.9268 15.2626 18.2197 14.9697Z" fill="white"/>
                                </svg>
        section.about 
            .container.about__container 
                .about__content
                    h2 О компании
                    p ООО "Гродненские информационные сети" - надежный поставщика услуг интернета и телевидения в городе Гродно, предлагающий комплексные услуги для дома и бизнеса.
                    a(href="./about.html") Подробнее 
                        span.icon  <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg> 
                .about__advantages.advantages.flex
                    .advantages__box 
                        h3 Качество
                        p   
                            |Работаем только с проверенными поставщиками оборудования.
                    .advantages__box 
                        h3 Опыт
                        p  
                            | У нас работают только квалифицированные специалисты с большим опытом работы.
                    .advantages__box 
                        h3 Гарантия
                        p
                            | Работаем только с проверенными поставщиками оборудования.
        section.services
            .container.services__container 
                .services__grid
                    a(href="./internet-page.html" target="_blank").services__item
                        .services__img
                            img(src="./img/internet.svg" alt="")
                        p Интернет
                    a(href="./tv-page.html").services__item
                        .services__img
                            img(src="./img/tv-icon.svg" alt="")
                        p Кабельное телевидение
                    a(href="./video-page.html").services__item
                        .services__img
                            img(src="./img/video-cam.svg" alt="")
                        p Видеонаблюдение и видеодомофоны
                    a(href="./led-page.html").services__item
                        .services__img
                            img(src="./img/led-icon.svg" alt="")
                        p LED-экраны и рекалма
                    a(href="./electric-page.html").services__item
                        .services__img
                            img(src="./img/tool-icon.svg" alt="")
                        p Электромонатжные работы
                    a(href="./solar-panels-page.html").services__item
                        .services__img
                            img(src="./img/solar-panels-icon.svg" alt="")
                        p Альтернативная энергетика
                    a(href="./auto-page.html").services__item
                        .services__img
                            img(src="./img/electric-car-icon.svg" alt="")
                        p Электрозарядные станции для авто
                    a(href="./conditioner-page.html").services__item
                        .services__img
                            img(src="./img/air-icon.svg" alt="")
                        p Кондиционеры
        section.popular 
            .container 
                h2.popular__title Популярные услуги
                .popular-card.flex
                    a(href="./package-page.html").flex.popular-card__box
                        .popular-card__img
                            img(src="./img/bg-main-pack.png" alt="")
                        h2 Общий пакет
                        p Все ваши любимые телеканалы и безлимитный интернет в одном пакете!
                        span.btn Подробнее 
                            span.icon.flex  <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>  
                    a(href="./internet-page.html").flex.popular-card__box
                        .popular-card__img
                            img(src="./img/popular-internet.jpg" alt="")
                        h2 Интернет
                        p Отличная скорость и тарифы на любой вкус!Выбирайте тарифный план исходя из Ваших предпочтений и потребностей.
                        span.btn Подробнее 
                            span.icon.flex  <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
                    a(href="./tv-page.html").flex.popular-card__box
                        .popular-card__img
                            img(src="./img/popular-tv.jpg" alt="")
                        h2 Кабельное телевидение
                        p Все ваши любимые телеканалы в одном пакете!Смотрите ТВ каналы на всех телевизорах дома,без дополнительных устройств.
                        span.btn Подробнее 
                            span.icon.flex  <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg> 
        include chunk/popular-chanel
        include chunk/news
    include chunk/footer