extends layout/app

block page 
    include chunk/header

    main.main
        section.hero.hero-page(style='background-image: url("./img/led-bg.jpg");')
            .container
                .content 
                    h1 LED-экраны и реклама
                    p Осветите свое сообщение с помощью наших ультрасовременных светодиодных экранов. Наши экраны, разработанные с использованием новейших технологий и ярких дисплеев, представляют собой высокоэффективное решение для рекламы, развлечений и мероприятий.
                    a(href="./contact.html") Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")                    
        section.section-plus
            .container.section-plus__container 
                .grid-4.section-plus__grid
                    .flex.section-plus__box
                        img(src="./img/tools-icon.svg" alt="")
                        p Собственное производство
                    .flex.section-plus__box
                        img(src="./img/service-icon.svg" alt="")
                        p Сервисное обслуживание
                    .flex.section-plus__box
                        img(src="./img/led-icon.svg" alt="")
                        p Эффективное и яркое решение для вашей рекламы 
                    .flex.section-plus__box
                        img(src="./img/safty-data-icon.svg" alt="")
                        p Гарантия и качество 
        section.service-content.p-80 
            .container
                .service-content__wrapp.flex
                    .service-content__name 
                        h2.title-line LED-экраны
                    .service-content__content.inner-content 
                        p Это актуальный рекламный носитель в виде видеоэкрана со встроенными светодиодами. LED экраны могут транслировать видеоролики, картинки, анимации в информационных и рекламных целях. Управление экраном реализовано с помощью компьютера, телефона, используя все доступные каналы связи. 
        section.service-content-img
            .container
                .service-content-img__wrapp.flex
                    .service-content-img__img
                        img(src="./img/media-screen.jpg" alt="" )
                    .service-content-img__content
                        h3 Плюсы светодиодных экранов используемых в помещениях:
                        ul 
                            li высокое разрешение;
                            li контрастность и чёткость картинки; 
                            li большие углы обзора;
                            li высокая частота обновления;
                            li небольшой вес;
                            li долговечность (более 10 лет непрерывной работы);
                            li простота в обслуживании;
                            li светодиодный экран может быть практически любого размера, т.к. собирается из светодиодных ячеек (модулей).
        section.service-content-img.m-t-80
            .container
                .service-content-img__wrapp.flex
                    .service-content-img__img
                        img(src="./img/media-street-screen.jpg" alt="" )
                    .service-content-img__content
                        h3 Преимущества светодиодных экранов для улицы:
                        ul 
                            li высокое разрешение led диспля;
                            li высокая яркость и контрастность;
                            li широкие углы обзора;
                            li экраны выдерживают температурный режим -45°C~+60°C;
                            li работают более 10 лет в непрерывном режиме;
                            li просты в эксплуатации и ремонте;
                            li led экран собирается из светодиодных ячеек (модулей), поэтому он может быть любого размера.
        section.service-content.p-80 
            .container
                .service-content__wrapp.flex
                    .service-content__name 
                        h2.title-line Реклама
                    .service-content__content.inner-content 
                        p Предлагаем размещение вашей рекламы на светодиодном экране. Демонстрация видеороликов на светодиодном экране — один из самых современных и привлекающих внимание потенциальных покупателей способов. Экран находится вблизи оживленного перекрестка и имеет возможность передавать яркие насыщенные цвета, что позволяет передать информацию большому количеству людей. 
        section.section-advertising.m-b-80
            .container 
                .service-box
                    img(src="./img/led-reklama.jpg" alt="")
                    .service-box__content 
                        h3 Адрес конструкции
                        p г. Гродно, ул. Вишневецкая, 1 (здание станции технического обслуживания «Автоцентр «Флагман»).
                        h3 Размер поверхности:
                        p 5,76 м х 2,88 м, яркость 6500 Кд/м².
                        h3 Условия размещения:
                        p минимальный период размещения 7 дней.
                        h3 Стоимость размещения:
                        .table  
                            .table__1.name Наименование пакета услуг
                            .table__2.name Количество показа роликов
                            .table__3.name Стоимость показа роликов
                            .table__4.name в час
                            .table__5.name в день
                            .table__6.name за 5 сек 
                            .table__7.name за 10 сек
                            .table__8 Марафон 
                            .table__9 Супер марафон
                            .table__10 10
                            .table__11 160
                            .table__12 3.50
                            .table__13 7
                            .table__14 12
                            .table__15 192
                            .table__16 4,20
                            .table__17 8,40 
        section.service-contact(style='background-image: url("./img/seti-bg.jpg");')
            .container.service-contact__container
                .service-contact__box 
                    p Выполним акт обследования на подключение средств системы видеонаблюдения согласно полученных технических условий. При разработке учитываем бюджет заказчика и подбираем оптимальное по стоимости оборудование.
                    br
                    p Мы ставим себе цель найти наиболее оптимальное решение задачи клиента!
                    a(href="./contact.html") Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")       
    include chunk/footer