extends layout/app

block page 
    include chunk/header

    main.main
        section.section-news-single
            .container.inner-content 
                h2 Новость 1
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum molestiae consequuntur nisi laudantium mollitia ullam cumque quia aspernatur nesciunt corrupti, autem ipsam beatae error adipisci tempore. Cumque natus odit veniam?
    include chunk/footer