extends layout/app

block page 
    include chunk/header

    main.main.main-tv
        section.hero.hero-page(style='background-image: url("./img/popular-tv.jpg");')
            .container
                .content 
                    h1 
                        | Кабельное телевидение 
                    p ООО "Гродненские информационные сети" предлагает Вам — как физическим, так и юридическим лицам — высокоскоростной доступ в глобальную компьютерную сеть Интернет.
        section.section-plus
            .container.section-plus__container 
                .grid-4.section-plus__grid
                    .flex.section-plus__box
                        img(src="./img/speed-icon.svg" alt="")
                        p Высокое качество 
                    .flex.section-plus__box
                        img(src="./img/rating-icon-2.svg" alt="")
                        p Рейтинговые телеканалы
                    .flex.section-plus__box
                        img(src="./img/money-icon.svg" alt="")
                        p Без дополнительных устройств 
                    .flex.section-plus__box
                        img(src="./img/phone-icon.svg" alt="")
                        p Заявка на подключение по телефону    
        section.section-tariff
            .container 
                .swiper-tariff__info.flex
                    .title
                        h2 Тарифные планы
                        p Кабельное телевидение 
                .section-tv
                    .tariff-box 
                        .tariff-box__info
                            h3 Пакет "Оптимальный"
                            .tv.flex 
                                span  
                                    svg(width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M20.5 0H2.5C1.4 0 0.5 0.9 0.5 2V14C0.5 15.1 1.4 16 2.5 16H7.5V18H15.5V16H20.5C21.6 16 22.49 15.1 22.49 14L22.5 2C22.5 0.9 21.6 0 20.5 0ZM20.5 14H2.5V2H20.5V14Z" fill="#163BA4")
                                span 
                                    .title более 110 цифровых
                                    span Интерактивное ТВ
                            a(href="./all-chanel.html") Список телеканалов
                        .tariff-box__price 
                            span.price 8,50
                            span.value руб./мес.  
                        .tariff-box__btn 
                            a(href="") Подключиться        
                    .tariff-box 
                        .tariff-box__info
                            h3 Пакет «Социальный»
                            .tv.flex 
                                span  
                                    svg(width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M20.5 0H2.5C1.4 0 0.5 0.9 0.5 2V14C0.5 15.1 1.4 16 2.5 16H7.5V18H15.5V16H20.5C21.6 16 22.49 15.1 22.49 14L22.5 2C22.5 0.9 21.6 0 20.5 0ZM20.5 14H2.5V2H20.5V14Z" fill="#163BA4")
                                span 
                                    .title 11 цифровых каналов
                            a(href="./all-chanel.html") Список телеканалов
                        .tariff-box__price 
                            span.price 1,50
                            span.value руб./мес.  
                        .tariff-box__btn 
                            a(href="") Подключиться                                                 
        include chunk/discount
        section.setcion-popular-film.m-b-80
            .container 
                h2 Популярыные телеканалы
                a(href="./all-chanel.html") Список всех телеканалов 
                .setcion-popular-film__grid 
                    .setcion-popular-film__film1
                        img(src="./img/futboll-img.jpg" alt="")
                    .setcion-popular-film__film2 
                        img(src="./img/film-airon-man.png" alt="")
                    .setcion-popular-film__film3 
                        img(src="./img/film-taxi.png" alt="")
                    .setcion-popular-film__film4 
                        img(src="./img/film-bond.png" alt="")
                    .setcion-popular-film__film5 
                        img(src="./img/tnt-international-logo.png" alt="")
                    .setcion-popular-film__film6
                        img(src="./img/pirate-film.jpg" alt="")
        include chunk/reference
        include chunk/news
    include chunk/footer


