extends layout/app

block page 
    include chunk/header

    main.main
        section.hero.hero-page(style='background-image: url("./img/bg-video.jpg");')
            .container
                .content 
                    h1 Видеонаблюдение и видеодомофоны
                    p Оказываем услуги профессионального монтажа видеонаблюдения и видеодомофонии на различных территориях: в учреждениях, частных домах, квартирах и офисах. 
                    a(href="./contact.html") Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")                    
        section.section-plus
            .container.section-plus__container 
                .grid-4.section-plus__grid
                    .flex.section-plus__box
                        img(src="./img/app-icon.svg" alt="")
                        p Удаленный доступ к данным через приложение
                    .flex.section-plus__box
                        img(src="./img/save-data-icon.svg" alt="")
                        p Безопастное хранение данных и доступ к архиву 20 дней
                    .flex.section-plus__box
                        img(src="./img/cloud-computer-icon.svg" alt="")
                        p На собственном облаке хранения 
                    .flex.section-plus__box
                        img(src="./img/safty-data-icon.svg" alt="")
                        p Безопастность вашего дома! 
        section.service-content.p-80 
            .container
                .service-content__wrapp.flex
                    .service-content__name 
                        h2.title-line Видеонаблюдение
                    .service-content__content.inner-content 
                        p В наш день безопасность любого объекта, не столь важно квартира это или офис, а может быть ваш загородный дом без видеонаблюдения ни как не обойтись. Именно камеры наблюдения помогут вам вовремя остановить и выявить правонарушения. 
                        br
                        p Сегодня практически на каждом объекте есть видеонаблюдение. Благодаря камерам видеонаблюдения увеличивается раскрываемость краж, быстро и без неприятностей решают кадровые и даже производственные спорные вопросы, быстрее находят машины, которые в угоне. Если не дай Бог в вашем офисе или квартире было совершено преступление, но при этом у вас была система видеонаблюдения, тогда эти средства фиксации можно будет использовать в суде как прямое доказательство.
        section.service-content-img
            .container
                .service-content-img__wrapp.flex
                    .service-content-img__img
                        img(src="./img/video-img-2.png" alt="" height="500")
                    .service-content-img__content
                        h3 Наши приемущества:
                        ul 
                            li Доступ к камерам с любого устройства 24 часа сутки;
                            li Анализ видеоданных позволит вам выявить пробелы в обслуживании и других бизнес-процессах компании и поможет их исправить, увеличив выручку;
                            li Экономия на покупке видеорегистраторов и систем хранения, а также на обслуживание персонала. 14 дней видеоархива;
                            li Онлайн видеонаблюдения через Интернет из любой точки мира через любое устройство: Смартфон, ноутбук или компьютер;
        section.service-content.p-80
            .container
                .service-content__wrapp.flex
                    .service-content__name 
                        h2.title-line Видеодомофоны
                    .service-content__content.inner-content 
                        p Наш дом — наша крепость. И совсем не хочется, чтобы в эту крепость попадали нежданные гости. Сегодня существует множество способов контроля доступа и наблюдения за посетителями. Один из этих способов – домофон. Наверное сложно найти многоквартирный жилой дом не оборудованный домофоном. Но в большинстве своем везде установлены аудиодомофоны, которые позволяют абонентам только разговаривать между собой.
                        br
                        p Более того, мы готовы интегрировать системы распознавания лиц в существующие домофоны ваших подъездов!Система распознавания лиц — система, которая распознает жильцов на расстоянии нескольких метров и открывает дверь автоматически, без прикладывания ключа. Вам не надо искать в карманах или сумке ключ и подносить к домофону, просто подходите к двери, и бесконтактная система доступа сработает автоматически, открывая дверь в подъезд при вашем приближении. Автоматическое открывание дверей — это удобно, помогает экономить время и создавать комфортное жилое пространство.
        section.service-content-img.m-b-80
            .container
                .service-content-img__wrapp.flex
                    .service-content-img__img
                        img(src="./img/video-room-img.png" alt="" height="600")
                    .service-content-img__content
                        h3 Наши приемущества:
                        ul 
                            li проложат силовые, телефонные, телевизионные кабели и провода, а также локальных сетей;
                            li соберут электрический щит любой сложности; 
        section.service-link.p-80
            .container 
                h2 Скачать приложение
                ul 
                    li 
                        a(href="" downloand) 
                            h3 Приложение 1
                    li 
                        a(href="" downloand) 
                            h3 Приложение 1
                    li 
                        a(href="" downloand) 
                            h3 Приложение 1
        section.service-contact(style='background-image: url("./img/seti-bg.jpg");')
            .container.service-contact__container
                .service-contact__box 
                    p Выполним акт обследования на подключение средств системы видеонаблюдения согласно полученных технических условий. При разработке учитываем бюджет заказчика и подбираем оптимальное по стоимости оборудование.
                    br
                    p Мы ставим себе цель найти наиболее оптимальное решение задачи клиента!
                    a(href="./contact.html") Контакты
                        span.icon.flex  
                            svg(width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 8H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M8.0001 3L13 8L8 13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")       
    include chunk/footer