section.news 
    .container.news__container.flex
        .news__info
            h2 Новости
            p Актуальная информация о состоянии сетей, изменениях в работе служб, а также тарифных изменениях.
            a(href="").link все новости
            .news__nav.flex
                .swiper-news-prev
                    svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                        circle(cx="20" cy="20" r="19.5" transform="rotate(-180 20 20)" stroke="#163BA4")
                        path(d="M21.7803 25.0303C21.5141 25.2966 21.0974 25.3208 20.8038 25.1029L20.7197 25.0303L16.2197 20.5303C15.9534 20.2641 15.9292 19.8474 16.1471 19.5538L16.2197 19.4697L20.7197 14.9697C21.0126 14.6768 21.4874 14.6768 21.7803 14.9697C22.0466 15.2359 22.0708 15.6526 21.8529 15.9462L21.7803 16.0303L17.8107 20L21.7803 23.9697C22.0732 24.2626 22.0732 24.7374 21.7803 25.0303Z" fill="#163BA4")
                .swiper-news-next
                    svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
                        circle(cx="20" cy="20" r="19.5" stroke="#163BA4")
                        path(d="M18.2197 14.9697C18.4859 14.7034 18.9026 14.6792 19.1962 14.8971L19.2803 14.9697L23.7803 19.4697C24.0466 19.7359 24.0708 20.1526 23.8529 20.4462L23.7803 20.5303L19.2803 25.0303C18.9874 25.3232 18.5126 25.3232 18.2197 25.0303C17.9534 24.7641 17.9292 24.3474 18.1471 24.0538L18.2197 23.9697L22.1893 20L18.2197 16.0303C17.9268 15.7374 17.9268 15.2626 18.2197 14.9697Z" fill="#163BA4")
                .swiper-news-pagination
        .swiper.swiper-news
            .swiper-wrapper.swiper-news__wrapp
                .swiper-slide.swiper-news__slide
                    a(href="").swiper-news__link
                        .swiper-news__img
                            img(src="./img/main-bg.jpg" alt="")
                        .swiper-news__content
                            .info
                                span 25 января
                            h3 Новость 1
                            p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                .swiper-slide.swiper-news__slide
                    a(href="").swiper-news__link 
                        .swiper-news__img
                            img(src="./img/main-bg.jpg" alt="")
                        .swiper-news__content
                            .info.flex 
                                span 25 января
                                span #работа
                            h3 Новость 2
                            p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                .swiper-slide.swiper-news__slide
                    a(href="").swiper-news__link
                        .swiper-news__img
                            img(src="./img/main-bg.jpg" alt="")
                        .swiper-news__content
                            .info.flex 
                                span 25 января
                                span #работа
                            h3 Новость 3
                            p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                .swiper-slide.swiper-news__slide
                    a(href="").swiper-news__link
                        .swiper-news__img
                            img(src="./img/main-bg.jpg" alt="")
                        .swiper-news__content
                            .info.flex 
                                span 25 января
                                span #работа
                            h3 Новость 4
                            p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                .swiper-slide.swiper-news__slide
                    a(href="").swiper-news__link 
                        .swiper-news__img
                            img(src="./img/main-bg.jpg" alt="")
                        .swiper-news__content
                            .info.flex 
                                span 25 января
                                span #работа
                            h3 Новость 5
                            p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
                .swiper-slide.swiper-news__slide
                    a(href="").swiper-news__link
                        .swiper-news__img
                            img(src="./img/main-bg.jpg" alt="")
                        .swiper-news__content
                            .info.flex 
                                span 25 января
                                span #работа
                            h3 Новость 6
                            p Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit.Lorem ipsum dolor sit
