section.popular-chanel 
    .container.popular-chanel__container
        h2 Популярные каналы
    .swiper.swiper-popular-chanel
        .swiper-wrapper
            .swiper-slide
                img(src="./img/ont-logo.svg" alt="")
            .swiper-slide
                img(src="./img/stv-logo.svg" alt="")
            .swiper-slide
                img(src="./img/history-chanel-logo.svg" alt="")
            .swiper-slide
                img(src="./img/ntv-logo.svg" alt="")
            .swiper-slide
                img(src="./img/kanal-logo1.png" alt="")
            .swiper-slide
                img(src="./img/ont-logo.svg" alt="")
            .swiper-slide
                img(src="./img/kanal-logo1.png" alt="")
            .swiper-slide
                img(src="./img/kanal-logo1.png" alt="")
            .swiper-slide
                 img(src="./img/kanal-logo1.png" alt="")
            .swiper-slide
                img(src="./img/ont-logo.svg" alt="")
            .swiper-slide
                img(src="./img/stv-logo.svg" alt="")
            .swiper-slide
                img(src="./img/history-chanel-logo.svg" alt="")
            .swiper-slide
                img(src="./img/ntv-logo.svg" alt="")
            
            