section.reference
    .container 
        h2 Справочная информация
        .accordion-wrapp
            .accordion
                .accordion__title 
                    h3 Вопрос 1
                .accordion__body 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum fuga aliquam pariatur temporibus illum aliquid saepe sunt a sapiente quibusdam libero delectus facere tempore cupiditate reiciendis atque mollitia, sequi id!
            .accordion
                .accordion__title 
                    h3 Вопрос 2
                .accordion__body 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum fuga aliquam pariatur temporibus illum aliquid saepe sunt a sapiente quibusdam libero delectus facere tempore cupiditate reiciendis atque mollitia, sequi id!
            .accordion
                .accordion__title 
                    h3 Вопрос 3
                .accordion__body 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum fuga aliquam pariatur temporibus illum aliquid saepe sunt a sapiente quibusdam libero delectus facere tempore cupiditate reiciendis atque mollitia, sequi id!
